$darkbg-color: rgb(170, 20, 20);
$bg-color: rgb(204, 21, 21);
$dark-bg: #1E0D0D;

.form-co{
    margin-top: 50px;
}

.co-tittle{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: $dark-bg;
}

.btn-co{
    background-color: $bg-color !important;
    border-color: $bg-color !important;
    &:hover{
        background-color: $darkbg-color !important;
        border-color: $darkbg-color !important;
    }
}

.btn-back{
    background-color: whitesmoke !important;
    color: $bg-color !important;
    border-color: $bg-color !important;
    &:hover{
        background-color: rgb(231, 231, 231) !important;
        color: $darkbg-color !important;
        border-color: $darkbg-color !important;
    }
}