$bg-color: rgb(204, 21, 21);
$dark-bg: #1E0D0D;

.form-account{
    margin-top: 50px;

    .item-account{
        text-decoration: none;
    }
}
a{
    text-decoration: none;
}
.account-tittle{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: $dark-bg;
}

.item-account{
    color: $dark-bg !important;
    text-decoration: none !important;
    &:hover {
        background-color: $bg-color !important;
        color: whitesmoke !important;
        // opacity: 50%;
      }

    &:active{
        background-color: $bg-color !important;
        color: whitesmoke !important;    }
}

.list-group a{
    text-decoration: none;
}
.list-group a:active{
    color: whitesmoke !important;
    background-color: $bg-color !important;
    border-color: $bg-color !important;
}